<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Tahnik Mustasin - Welcome to My Profile</title>
  <meta name="description" content="This is a personal profile for Tahnik Mustasin. You can find out what I've done in my career so far and what are my skills. Contact me if you need any assistant">
  <meta name="author" content="Tahnik Mustasin">
  <meta name="keywords" content="tahnik, mustasin, queen, mary">

  <!-- This tags are for facebook -->
  <meta property="og:title" content="Welcome to My Profile">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.tahnik.com/assets/images/loading.png">
  <meta property="og:url" content="https://www.tahnik.com">
  <meta property="og:description" content="This is a personal profile for Tahnik Mustasin. You can find out what I've done in my career so far and what are my skills. Contact me if you need any assistant">
  <meta property="fb:app_id" content="1185941694810800">
  <!-- End Facebook Tag -->

  <!-- This tags are for twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@mstahnik" />
  <meta name="twitter:creator" content="@mstahnik" />
  <!-- End twitter Tag -->

  <meta name="Robots" content="INDEX,ALL" />
  <meta name="YahooSeeker" content="INDEX, FOLLOW" />
  <meta name="msnbot" content="INDEX, FOLLOW" />
  <meta name="googlebot" content="INDEX, FOLLOW" />
  <meta name="allow-search" content="yes" />
  <meta name="revisit-after" content="daily" />
  <meta name="Rating" content="General" />
  <meta name="site" content="https://www.tahnik.com" />
  <meta name="distribution" content="global" />
  <meta name="Copyright" content="Tahnik Mustasin" />

  <meta name="theme-color" content="#0e5354" />
  <meta name="google-site-verification" content="oaH_aVFFvKaiEw4yfb_AHT82ls1n4_6H881PPBIJmuI" />
</head>

<body>
  <div id="app"></div>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-60748914-3', 'auto');
    ga('send', 'pageview');
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Tahnik Mustasin",
      "url": "https://www.tahnik.com",
      "sameAs": [
        "http://www.facebook.com/Tahnik",
        "https://uk.linkedin.com/in/tahnik",
        "https://twitter.com/mstahnik",
        "https://www.youtube.com/user/tahnik0"
      ]
    }
  </script>
</body>

</html>