/* Coolors Exported Palette - coolors.co/0b2545-c33c54-28587b-fdfffc-131b23 */

/* HSL */
$color1: hsla(213%, 73%, 16%, 1);
$color2: hsla(349%, 53%, 50%, 1);
$color3: hsla(205%, 51%, 32%, 1);
$color4: hsla(100%, 100%, 99%, 1);
$color5: hsla(210%, 30%, 11%, 1);

/* RGB */
$color1: rgba(11, 37, 69, 1);
$color2: rgba(195, 60, 84, 1);
$color3: rgba(40, 88, 123, 1);
$color4: rgba(253, 255, 252, 1);
$color5: rgba(19, 27, 35, 1);